<h2> Player 1: <%= @player1_name %> vs. Player 2: <%= @player2_name %> </h2>

<h3> <%= @player2_name %>'s HP: <%= @player2_hp %> </h3>

<form action="/attack">
  <input type="submit" value="Attack">
</form>
