<h2> Player 1: <%= @game.player1.name %> vs. Player 2: <%= @game.player2.name %> </h2>

<h3> <%= @game.player2.name %>'s HP: <%= @game.player2.hp %> </h3>

<form action="/attack">
  <input type="submit" value="Attack Opponent">
</form>
